$colour-primary: #2D908F;
$colour-dark: #333333;
$colour-borders: #F5F5F5;

$colour-danger: #D40A0A;

$border-radius: 10px;

$transition-duration: 0.15s;

@import 'reboot';

@import 'typography';
@import 'controls';

@import 'darkmode';
body.theme--auto{
	@media (prefers-color-scheme: dark) {
		@include darkmode;
	}
}

body.no-scroll{
	overflow-y: hidden;
	overscroll-behavior-y: none;
}

.main{
	display: block;
	position: relative;
}

.main-nav{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	grid-template-columns: auto 50px;
	grid-column-gap: 10px;
	padding: 15px;
	background-color: rgba(255,255,255,0.8);
	&.active{
		display: grid;
	}
	.add-item-button{
		display: block;
		position: relative;
		width: 100%;
		height: 50px;
		border-radius: $border-radius;
		border: 2px solid lighten($colour-primary, 50%);
		background-color: lighten($colour-primary, 50%);
		color: $colour-primary;
		font-size: 18px;
		line-height: 1rem;
		font-weight: 500;
		text-align: left;
		text-decoration: none;
		outline: 2px solid transparent!important;
		outline-offset: 2px!important;
		transition-duration: $transition-duration;
		padding-left: 48px;
		&:active{
			background-color: lighten($colour-primary, 40%);
			border-color: lighten($colour-primary, 40%);
		}
		svg{
			position: absolute;
			top: calc(50% - 9px);
			left: 20px;
			height: 18px;
			fill: $colour-primary;
		}
	}
	.refresh-button{
		display: none;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: $border-radius;
		border: 2px solid lighten($colour-dark, 70%);
		background-color: lighten($colour-dark, 70%);
		color: $colour-primary;
		font-size: 18px;
		line-height: 1rem;
		font-weight: 500;
		text-align: left;
		text-decoration: none;
		outline: 2px solid transparent!important;
		outline-offset: 2px!important;
		transition-duration: $transition-duration;
		&:active{
			background-color: lighten($colour-dark, 60%);
			border-color: lighten($colour-dark, 60%);
		}
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 20px;
			transform: translate(-50%,-50%);
			fill: $colour-dark;
		}
	}
	.menu-button{
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: $border-radius;
		border: 2px solid lighten($colour-dark, 70%);
		background-color: lighten($colour-dark, 70%);
		color: $colour-primary;
		font-size: 18px;
		line-height: 1rem;
		font-weight: 500;
		text-align: left;
		text-decoration: none;
		outline: 2px solid transparent!important;
		outline-offset: 2px!important;
		transition-duration: $transition-duration;
		&:active{
			background-color: lighten($colour-dark, 60%);
			border-color: lighten($colour-dark, 60%);
		}
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 26px;
			transform: translate(-50%,-50%);
			fill: $colour-dark;
		}
	}
	&.pwa{
		grid-template-columns: auto 50px 50px;
		.refresh-button{
			display: block;
		}

	}
}

#last-updated{
	display: block;
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    line-height: 1em;
	padding: 0 30px;
	opacity: 0.2;
}

.overlay{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 200;
	opacity: 0;
	pointer-events: none;
	transition-duration: 0.3s;
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
}

.slide-over{
	display: block;
	position: fixed;
	height: calc(100% - 30px);
	width: 100%;
	background: white;
	bottom: 0;
	left: 0;
	z-index: 300;
	border-top-left-radius: $border-radius + 10px;
	border-top-right-radius: $border-radius + 10px;
	overflow: hidden;
	transform: translate(0px, 100%);
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	&.active{
		transform: translate(0, 0);
	}
}
.slide-over__head{
	display: grid;
	position: relative;
	width: 100%;
	grid-template-columns: auto 50px;
	align-items: center;
	grid-column-gap: 20px;
	border-bottom: 2px solid $colour-borders;
	border-top-left-radius: $border-radius + 10px;
	border-top-right-radius: $border-radius + 10px;
	padding: 10px;
	background-color: white;
	z-index: 1;
	&.hidden{
		display: none;
	}
	span{
		display: block;
		position: relative;
		font-size: 18px;
		line-height: 1rem;
		font-weight: bold;
		padding-left: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		min-width: 0;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	button{
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: $border-radius + 10px;
		border: 2px solid transparent;
		background-color: transparent;
		color: $colour-primary;
		font-size: 18px;
		line-height: 1rem;
		font-weight: 500;
		text-align: left;
		text-decoration: none;
		outline: 2px solid transparent!important;
		outline-offset: 2px!important;
		transition-duration: $transition-duration;
		&:active{
			background-color: lighten($colour-dark, 60%);
			border-color: lighten($colour-dark, 60%);
		}
		svg{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 26px;
			transform: translate(-50%,-50%);
			fill: $colour-dark;
		}
	}
}

.slide-over__body{
	display: none;
	position: relative;
	padding: 30px;
	height: calc(100% - 72px);
	overflow-y: scroll;
}

.list-code__box{
	display: none;
	position: relative;
	padding: 11px;
	border-radius: $border-radius;
	border: 2px solid darken($colour-borders,10%);
	.heading{
		display: block;
		position: relative;
		text-align: center;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1em;
	}
	.list-code{
		font-family: 'JetBrains Mono', monospace;
		display: block;
		font-size: 24px;
		line-height: 1em;
		color: $colour-primary;
		text-align: center;
		letter-spacing: 0.2em;
	}
}

.list{
	display: none;
	position: relative;
	margin-top: 100px;
	padding: 0 15px;
	padding-bottom: 50px;
	.item{
		display: grid;
		position: relative;
		grid-template-columns: 60px auto;
		border-bottom: 2px solid transparentize($colour-dark, 0.9);
		&:last-child{
			border-bottom: 0;
		}
		.check{
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			height: 60px;
			width: 60px;
			&::after{
				content: '';
				display: block;
				position: absolute;
				width: 30px;
				height: 30px;
				background-color: transparent;
				border-radius: $border-radius;
				border: 2px solid transparentize($colour-dark, 0.7);
				top: calc(50% - 15px);
				left: calc(50% - 15px);
				pointer-events: none;
				transition-duration: 0.15s;
			}
			&::before{
				content: '';
				z-index: 1;
				display: block;
				position: absolute;
				width: 14px;
				height: 14px;
				top: calc(50% - 7px);
				left: calc(50% - 7px);
				background-image: url(/assets/check.svg);
				background-position: center;
				background-repeat: no-repeat;
				pointer-events: none;
				transform: scale(1.6);
				transition: transform 0.2s;
				transition-timing-function: ease-in-out;
				opacity: 0;
			}

			&:focus::after{
				border-color: transparentize($colour-dark, 0.3);
			}
		}
		.content{
			display: grid;
			position: relative;
			grid-template-columns: auto;
			align-items: center;
			justify-items: start;
			grid-row-gap: 2px;
			padding: 12px 0;
			margin: 0;
			border: none;
			background: transparent;
			text-align:left;
			width: 100%;
			min-width: 0;
			padding-right: 15px;
			.item-name{
				display: inline-block;
				position: relative;
				font-size: 18px;
				line-height: 1.3rem;
				min-width: 0;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $colour-dark;
				transition-duration: 0.3s;
				transition-timing-function: ease-in-out;
				&::after{
					content: '';
					display: block;
					position: absolute;
					width: calc(100% + 10px);
					height: 2px;
					background: $colour-dark;
					top: calc(50% - 1px);
					left: 0;
					opacity: 0.6;
					transform: scale(0,1);
					transform-origin: left;
					transition-duration: 0.4s;
					transition-timing-function: ease-in-out;
				}
			}
			.item-description{
				display: inline-block;
				position: relative;
				font-size: 14px;
				line-height: 1rem;
				min-width: 0;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $colour-dark;
			}
		}

		&.checked{
			.check{
				&::after{
					background-color: $colour-primary;
				}
				&::before{
					opacity: 1;
					transform: scale(1);
				}
			}
			.content{
				.item-name{
					color: transparentize($colour-dark, 0.4);
					&::after{
						transform: scale(1,1);
					}
				}
			}
		}
	}
}

.notice{
	display: none;
	position: absolute;
	left: 15px;
	width: calc(100% - 30px);
	padding: 20px;
	border-radius: $border-radius;
	border: 2px solid $colour-borders;
	background-color: $colour-borders;
	text-align:center;
	font-size: 18px;
	line-height: 1.4em;

}

.list-skeleton{
	display: block;
	position: relative;
	margin-top: 100px;
	padding: 0 15px;
	padding-bottom: 50px;
	.item{
		display: grid;
		position: relative;
		grid-template-columns: 45px auto;
		align-items: center;
		border-bottom: 2px solid transparentize($colour-dark, 0.95);
		padding: 15px;
		&:last-child{
			border-bottom: 0;
		}
		.check{
			display: block;
			position: relative;
			width: 30px;
			height: 30px;
			background-color: transparentize($colour-dark, 0.9);
			border-radius: $border-radius;
		}
		.content{
			display: block;
			position: relative;
			height: 20px;
			background-color: transparentize($colour-dark, 0.9);
			border-radius: $border-radius;
		}
		&:nth-child(5n+1) .content{
			width: 50%;
		}
		&:nth-child(5n+2) .content{
			width: 40%;
		}
		&:nth-child(5n+3) .content{
			width: 60%;
		}
		&:nth-child(5n+4) .content{
			width: 35%;
		}
		&:nth-child(5n+5) .content{
			width: 75%;
		}
	}
}
#form-item-edit{
	display: none;
}
#form-item-edit-skeleton{
	display: block;
	position: relative;
	.group{
		display: block;
		position: relative;
		margin-bottom: 20px;
	}
	.label{
		display: inline-block;
		height: 18px;
		width: 30%;
		background-color: transparentize($colour-dark, 0.9);
		border-radius: $border-radius;
	}
	.field{
		display: block;
		height: 48px;
		width: 100%;
		background-color: transparentize($colour-dark, 0.9);
		border-radius: $border-radius;
		&.--box{
			height: 144px;
		}
	}
}

#slide-body-menu #destroy-button{
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: calc(100% - 60px);
}
